<head>
  <style>
    html {
      height: 200px;
      width: 300px;
      background-color: whitesmoke;
    }

    body {
      margin: 0px;
    }

    #main {
      text-align: center;
      position: relative;
      height: 100%;
    }

    #applyCoupons {
      background-color: #f79724;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 30px;
      display: none;
    }

    #couponStatuses {
      width: 100%;
      overflow-y: scroll;
      height: 200px;
    }

    #couponStatuses ul,
    #couponStatuses ul li ul {
      list-style: none;
      padding-left: 0px;
    }

    #couponStatuses ul>li {
      padding-bottom: 5px;
      padding-top: 5px;
      text-align: left;
    }

    #couponStatuses ul li ul li {
      border-bottom: 0px;
      padding-bottom: 2px;
      padding-top: 2px;
    }

    #couponStatuses ul li ul {
      background: #fff;
      padding: 5px;
    }

    #couponStatusHeading {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      background: deepskyblue;

    }

    .heading {
      padding: 10px;
      border-bottom: 1px solid #ccc;
      /* background-color: #0049b0; */
      color: #000;
    }

    .container {
      padding: 10px;
      min-height: 88px;
    }

    #close {
      color: #000;
      font-size: 18px;
      position: absolute;
      top: 5px;
      right: 15px;
      padding: 4px;
      width: 10px;
      height: 10px;
      cursor: pointer;
    }

    .mdiv {
      height: 15px;
      width: 2px;
      margin-left: 12px;
      background-color: black;
      transform: rotate(45deg);
      Z-index: 1;
    }

    .md {
      height: 15px;
      width: 2px;
      background-color: black;
      transform: rotate(90deg);
      Z-index: 2;
    }

    /* .footer {
      bottom: 0px;
      text-align: center;
      border-top: 1px solid #ccc;
      background-color: #002250;
      width: 100%;
      color: #fff;
    }

    .footer p {
      padding: 6px;
      margin: 0px;
    } */
  </style>

</head>

<body>
  <div id="main">
    <div class="heading">
      <image src="./images/icon.png"></image>
      <div id="close">
        <div class="mdiv">
          <div class="md"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <button type="button" id="applyCoupons">
        Apply Coupons
      </button>
      <div id="couponStatuses">
        <!-- <div id="couponStatusHeading">
          Coupon Statuses
        </div> -->
      </div>
      <div id="couponAvailability">
        <!-- <div id="couponStatusHeading">
          Coupon Statuses
        </div> -->
      </div>
    </div>
    <!-- <div class="footer">
      <p>May be later</p>
    </div> -->

  </div>


</body>

<script src="popup.js"></script>
